body {
    font-family: 'Playfair Display', serif;
    color: #555;
    background: white;
    font-size: 15px;
}

html,
body {
    height: 100vh;
}

main {
    padding-top: 50px;
    margin: 0 auto;
    background: #fff;
    display: none;
    width: 80%;
}

h1 {
    padding: 50px 0;
    font-weight: 600;
    text-align: center;
    color: black;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

.header-container {
    background: #0074D9;
    display: none;
    /* width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; */
}

.header-container {
    text-align: center;
    padding-top: 10%;
}

.header-container h1 {
    margin-bottom: 3%;
}

.header-container input {
    margin-top: 3%;
    margin-bottom: 1em;
}

.left-aside {
    float: left;
    height: 100vh;
    width: 18%;
    background: #92B558;
    color: white;
    text-align: center;
}

#balance {
    font-size: 50px;
}

main label {
    color: black;
}

main h2 {
    margin: 3%;
}

.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
}

.main-header {
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.error {
    display: none;
    color: red;
    font-size: 20px;
    font-weight: 300;
}

aside {
    float: left;
    border-radius: 3%;
}

section {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    position: relative;
    bottom: 27em;
}

.summary>div {
    width: 20em;
    border-radius: 1.12em;
    background-color: rgb(28, 184, 65);
    display: inline-block;
    margin-right: 2em;
    align-items: center;
}

.summary div div {
    float: left;
    margin-left: 30px;
}

.summary h1 {

    margin-left: 1em;
}

.main-inputs {
    display: inline-block;
    width: 30%;
}

#continue2 {
    margin-left: 1em;
}
.summary h2 {
    margin: auto;
}
.summary .Total>h1{    
    display: inline-block;
}   

@media only screen and (max-width: 2088px) {
    .main-inputs {
        display: block;
        width: 30%;
        margin-left: 30%;
    }
    section {
        position: inherit;
    }
    .summary div {
        margin-left: 3em;
    }
    .summary div div {
        display: block;
        float: none;
        margin-left: 65px ;
    }
    .summary .Total {    
        float: left;
    }
    .content{
        margin-left: 1%;
        float: right;
    }
    h1{
        font-size: 20px;   
    }
    .jqumeter{
        
        width: 250px;
        margin-left: 12px; 
    }
}
@media only screen and (max-width: 1400px){
    .jqumeter{
       
        width: 170px;
        margin-left: 34px; 
    }
}

@media only screen and (max-width: 1200px){
    .jqumeter{
       
        width: 150px;
        margin-left: 34px; 
    }
}
@media only screen and (max-width: 1060px){
    .jqumeter{
       
        width: 110px;
        margin-left: 40px; 
    }
}   
@media only screen and (max-width: 860px){
    .jqumeter{
        
        width: 80px;
        margin-left: 40px; 
    }
} 
@media only screen and (max-width: 880px) {
    .summary {
        margin: 0;
    }
    .main-inputs {
        margin: 0;
    }
    .summary div {
        margin: 1%;
    }
    .content{
        margin-left: 1%;
    }
    .progress{
        display: none;
    }
    
}
@media only screen and (max-width: 700px){
    .jqumeter{
        display: none;
    }
}