
body {
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    background: white;
  }
  html, body {
    height: 100vh;
  }
  main {    
    
    padding-top: 50px;
    margin: 0 auto;
    background: #fff;
  }

  h1 {
    padding: 50px 0;
    font-weight: 600;
    text-align: center;
    color: black;
  }
  
  p {
    margin: 0 0 20px;
    line-height: 1.5;
  }  
.header-container {
    background: #0074D9;
    width: 100vw;
    height: 80vh;
}

.header-container {
    text-align: center;
    padding-top: 10%;
}

.header-container h1 {
    margin-bottom: 3%;
}

.header-container input {
    margin-top: 3%;
}

.left-aside {
    float: left;
    height: 100vh;
    width: 15%;
    background: #92B558;
    color: white;
    text-align: center;
}

.balance {
    font-size: 40px;
}

main label {
    color: black;
}

main h2 {
    margin: 3%;
}
.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
   
}
.main-header{
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.error{
    display: none;
    color: red;
    font-size: 20px;
    font-weight:300;
} 

aside{
    float: left;
    border-radius: 3%;
}
main{
    display: inline-block;
    width: 40%;
}
